.plant {
  margin: 0.25em;
  max-width: 47vw;
  width: 12em;
}

.alarm {
  background-color: var(--alarm-bg-color);
  animation: alarm 0.8s ease-in-out infinite;
}

.danger {
  background-color: var(--danger-bg-color);
}

.warning {
  background-color: var(--warning-bg-color);
}

.info {
  background-color: var(--info-bg-color);
}

.success {
  background-color: var(--success-bg-color);
}

.image {
  font-size: 5em;
}

.plant .controls {
  display: flex;
  justify-content: space-between;
}

.plant:hover .controls {
  display: flex;
}

.label {
  display: flex;
  justify-content: space-between;
  flex-direction: row-reverse;
  align-items: flex-end;
}

.header {
  margin-bottom: 0;
  margin-left: -0.3em;
}

.button {
  width: 100%;
}

@keyframes alarm {
  from {background-color: var(--alarm-bg-color);}
  to {background-color: var(--default-bg-color);}
}
