@import-normalize;

:root {
  --alarm-bg-color: #dc354560;
  --danger-bg-color: #dc354520;
  --warning-bg-color: #ffc10720;
  --info-bg-color: #0dcaf020;
  --success-bg-color: #19875420;
  --default-bg-color: #fff;
}

body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}
